#
#{{ ansible_managed }}
#

[Unit]
Description=Minecraft server powered by Spigot

[Service]
Type=simple
User=minecraft
Group=minecraft
TimeoutStartSec=0
WorkingDirectory=/opt/minecraft
ExecStart=/usr/bin/java {{ minecraft_java_args }} -jar /opt/minecraft/paper.jar
Restart=on-failure
SuccessExitCode=143

[Install]
WantedBy=multi-user.target
