[Unit]
BindsTo=minecraft.service

[Socket]
ListenFIFO=/run/minecraft.control
FileDescriptorName=control
RemoveOnStop=true
SocketMode=0664
SocketUser=minecraft
SocketGroup=minecraft